.aceflash{  
  -moz-animation: aceflash 3s ease-out;
  -moz-animation-iteration-count: infinite;
  
  -webkit-animation: aceflash 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  
  -ms-animation: aceflash 3s ease-out;
  -ms-animation-iteration-count: infinite;
}

@-webkit-keyframes aceflash {
  0% { border-color: #CCC;}
  50% { border-color: #F88;}
  100% { border-color: #CCC;}
  }
  
@-moz-keyframes aceflash {
  0% { border-color: #CCC;}
  50% { border-color: #F88;}
  100% { border-color: #CCC;}
}
  
@-ms-keyframes aceflash {
  0% { border-color: #CCC;}
  50% { border-color: #F88;}
  100% { border-color: #CCC;}
}

.acealert{
  border: 1px solid rgba(255, 50, 50, 0.60);
}

.ace_highlight-marker {
   position: absolute; 
   background: #FF0000; 
   z-index: 1000; 
}

.ace_svgRAN {color:  rgb(255,140,0); }
.ace_svgRME {color:  rgb(112,128,144); }
.ace_svgRFE {color:  rgb(0,255,255); }
.ace_svgRGR {color:  rgb(255,0,255); }
.ace_svgRSH {color:  rgb(0,0,205); }
.ace_svgRCO {color:  rgb(72,61,139); }
.ace_svgRTX {color:  rgb(178,34,34);}
.ace_svgRFI {color:  rgb(0,128,0); }
.ace_svgRMM {color:  rgb(160,82,45); }

